<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.PurchaseMapper">
    <select id="selectAll" resultType="tws.entity.Purchase">
        select * from `purchase`;
    </select>

    <insert id="insert" parameterType="tws.entity.Purchase">
       insert into `purchase`(`purchaseNumber`,`recipient`,`phoneNumber`,`purchaseState`,`bookTime`) values(#{purchase.purchaseNumber},
       #{purchase.recipient},#{purchase.phoneNumber},#{purchase.purchaseState},#{purchase.bookTime});
    </insert>
</mapper>